<footer class="footer">
  <div class="wrap footer__inner">
    <div class="footer__block">
      <p class="footer__dept">{{ site.institute.department }}</p>
      <p>{{ site.institute.name }}<br>{{ site.institute.address }}</p>
    </div>
    <div class="footer__block footer__block--links">
      <p class="footer__label">Course</p>
      <ul>
        {%- for item in site.data.nav -%}
          <li><a href="{{ item.url | relative_url }}">{{ item.name }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="footer__block footer__block--links">
      <p class="footer__label">Elsewhere</p>
      <ul>
        <li><a href="{{ site.institute.url }}">vnrvjiet.ac.in</a></li>
        {%- for person in site.data.course.instructors -%}
          {%- if person.url and person.url != "" -%}
            <li><a href="{{ person.url }}">{{ person.name }}</a></li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</footer>
